<!-- Prática Hello world Angular -->
Maicon Felipe da Silva Souza

<!-- Criando um EventBinding -->
<!-- [] -> trazer dados do componente para o HTML, O Valor dessa área de input será também o nome de usuario, o nome que está definido no component será o da área de input
- tanto o valor onChange -> ao ser alterado/digitado, automaticamente gera evento que vai alterar no meu componente 
- two-way-data-binding: altera um altera outro
- fazendo os links abaixo
-->

<!-- 
Name: <input [(ngModel)]="usuario.name"> <br>
Age: <input [(ngModel)]="usuario.age"> <br>
-->

<!-- Execute algo no meu componente em angular, qual método do componente eu quero executar não fica dando refresh a cada clique, pois é uma SPA  Single Page Application -->
<!-- <button (click)="insertUser()">Send</button>
<br> -->

<!-- Para ter certeza, vamos colocar uma lista não ordenada, dos usuarios que foram inseridos
- diretivas: for, mostrar todos os usuarios inseridos no array 
        - para cada usuario no array irei fazer um stringInterpollation - vou mostrar seu nome -->
<!-- <ul>
    <li *ngFor="let usuario of usuarios">Usuario: {{usuario.name}} - {{usuario.cpf}} - {{usuario.age}} years</li>
</ul>
-->